<h1>
  My name is <%= @name %>.
</h1>

<body>
  <form action="/named-cat">
    Name: <input type=“text” name=name>

    <input type="submit" value="Submit">
  </form>

  <div style='border: 30px solid blue'>
    <img src='http://bit.ly/1eze8aE'>
  </div>
</body>
